<div class="container p-4">
    <div class="row">
        <div class="card md-4 mx-auto">
            <div class="card-body">
                <h3>Welcome {{user.fullname}}</h3>
                <a href="/api/links" class="btn btn-primary btn-block">See your links</a>
            </div>
        </div>
    </div>
</div>